/* || RESEST */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* || Variables */
:root {
  /* || FONTS */
  --ff: Roboto, sans-serif;
  --ff-logo: Reylway, sans-serif;

  /* || COLORS */
  --font-color-primary: #212121;
  --font-color-secondary: #fff;
  --font-color-p: #757575;

  --font-color-contact: #ffffff99;
  --font-color-street: #fff;

  --font-color-hover: #2196f3;

  /* | LOGO COLORS*/
  --font-color-logo-primary: #2196f3;
  --font-color-logo-secondary-black: #000;
  --font-color-logo-secondary-light: #fff;

  /* | BUTTON COLORS */
  --font-color-button-primary: #fff;

  --font-color-button-secondary: #212121;
  --font-color-button-secondary-hover: #fff;

  /* || BACKGROUND */
  --bgcolor: #fff;
  --bgcolor-dark: #2f303a;
  --bgcolor-fade: #f5f4fa;

  /* | BUTTONS BACKGROUND */
  --bgcolor-button-primary: #fff;

  --bgcolor-button-secondary: #f5f4fa;
  --bgcolor-button-secondary-hover: #2196f3;

  /* || BORDERS */
  --border-header: 1px solid #ececec;
  --border-porfolio-items: 1px solid #eeeeee;
  --border-header: 1px solid #ececec;

  /* || SHADOWS */
  --shadow-item: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

/* || UTILITY CLASSES */
.center {
  text-align: center;
}
.link--hover:hover {
  color: var(--font-color-hover);
}

/* || PSEUDO CLASSES */
.hover:hover,
.hover:focus-visible {
  background-color: var(--bgcolor-button-secondary-hover);
  color: var(--font-color-button-secondary-hover);
}
.link--hover:focus {
  color: var(--bgcolor-dark);
}

/* || General styles */
body {
  font-family: var(--ff);
  color: var(--font-color-primary);

  background-color: var(--bgcolor);
}
/* ul {
  list-style-type: none;
} */

/* || HEADER */

/* | LOGO */
.logo-primary {
}
.logo-secondary {
}

/* || MAIN */
.button--primary,
.menu__button {
  cursor: pointer;
}
